{% extends "index.html" %}
{% block body %}
{% include "header.html" %}

<!--List categories.-->
<div>
    <h2>Categories</h2>

    <ul style="list-style-type:none">
{% for cat in categories %}
        <li>
            <a href="{{url_for("show_items", cat=cat.category)}}">{{cat.category}}</a>
            <br>
            <a href="{{url_for("edit_category", cat=cat.category)}}">Edit</a>
            <a href="{{url_for("delete_category", cat=cat.category)}}">Delete</a>
        </li>
{% endfor %}
    </ul>   
</div>

<div>
    <a href="{{url_for("create_category")}}">Create Category</a>
</div>

{% endblock %}