{% extends "index.html" %}
{% block body %}
{% include "header.html" %}

<div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <!--Form to delete an item.-->
            <form action="{{url_for("delete_item", cat=category.category, item_name=item.name)}}" method="POST">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="mb-3 font-weight-normal">Delete "{{item.name}}"</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-sm btn-primary" type="submit" name="delete">Delete</button>
                        <button class="btn btn-sm btn-primary" name="cancel" onclick="window.history.back()">Cancel</button>            
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
</div>

{% endblock %}