{% extends "index.html" %}
{% block body%}
{% include "header.html" %}

<!--Display item details.-->
<div class="row">
        <div class="col-4"></div>
        <div class="col-4 font-weight-normal">
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
                <hr>
                <div class="row">
                        <div class="col-12 text-right">
                                Date Added: {{item.date_created|datetime_formatter}}
                        </div>
                </div>
                <div class="row">
                        <div class="col-12 text-right">             
                                <a href="{{url_for("show_items", cat=category.category)}}">Back</a>
                        </div> 
                </div>
        </div>
        <div class="col-4"></div>
</div>

{% endblock %}