{% extends "index.html" %}
{% block body %}
{% include "header.html" %}

<div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
    <!--Facebook login setup-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: "1037337186413518",
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: "v2.12" // use version 2.12
            });
        };

        // Load SDK async.
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));
        
        // Send token to the server. 
        function sendTokenToServer() {
            // Get token. 
            var access_token = FB.getAuthResponse()["accessToken"];
            // Dont need.
            console.log(access_token)
            console.log("Welcome!  Fetching your information.... ");
            FB.api("/me", function (response) {
                console.log('Successful login for: ' + response.name);
                // Send token to the server. 
                $.ajax({
                    type: "POST",
                    url: "/fbconnect?state={{STATE}}",
                    processData: false,
                    data: access_token,
                    contentType: "application/octet-stream; charset=utf-8",
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $("#result").html("Login Successful!</br>" + result + "</br>Redirecting...")
                            setTimeout(function () {
                                window.location.href = "/catalog";
                            }, 4000);
                        }
                        else {
                            $("#result").html("Failed to make a server-side call. Check your configuration and console.");
                        }
                    }
                });
            });
        }
    </script>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <!--Form for local login.-->
            <form action="{{url_for("local_connect")}}" method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in...</h1>
                <label for="user" class="sr-only">Username</label>
                <input type="text" name="user" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary btn-sm mt-1" type="submit">Sign in</button>
                    </div>
                    <div class="col-6 text-right">
                        <fb:login-button class="mt-1" size="medium" scope="public_profile,email" onlogin="sendTokenToServer();">Login with Facebook</fb:login-button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="{{url_for("create_local_user")}}">Signup</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}