{% extends "index.html" %}
{% block body %}
{% include "header.html" %}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="#" method="POST">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="mb-3 font-weight-normal">New Item</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="sr-only" for="name">Item:</label>
                    <input class="form-control" type="text" maxlength="100" name="name" placeholder="Item">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label class="sr-only" for="description">Description:</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="5" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="categories">Categories:</label>
                    <select class="form-control" name="categories" multiple>
                        {% for cat in categories %}
                        <option value="{{cat.category}}">{{cat.category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-sm btn-primary mt-1" type="submit" name="create">Create</button>
                    <button class="btn btn-sm btn-primary mt-1" type="submit" name="cancel">Cancel</button>
                </div>
            </div> 
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}