{% extends "index.html" %}
{% block body %}
{% include "header.html" %}

<!--Display flash messages.-->
<div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <!--Form to create new users.-->
            <form action="#" method="POST">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="mb-3 font-weight-normal">New User</h3>
                    </div>
                </div>
                <label for="username" class="sr-only">Name</label>
                <input type="text" maxlength="100" name="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
                <br>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
                <hr>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-sm btn-primary" type="submit" name="create">Sign up</button>
                        <button class="btn btn-sm btn-primary" onclick="window.history.back()">Cancel</button>  
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}